
<div class="panel panel-default study-view clearfix">
    <div class="panel-heading studies-title clearfix"">
        <h3 class="panel-title pull-left">Studies</h3>
        <span class="pull-right">pagination</span>
    </div>

    <div class="panel-body studies-query row"></div>
</div>
<div class="panel panel-default series-view clearfix">
    <div class="panel-heading series-title clearfix">
        <h3 class="panel-title pull-left">Series</h3>
        <span class="pull-right">pagination</span>
    </div>

    <div class="panel-body series-query"></div>
</div>
<div class="panel panel-default instance-view clearfix">
    <div class="panel-heading instance-title clearfix"">
        <h3 class="panel-title pull-left">Instances</h3>
        <span class="pull-right">pagination</span>
    </div>

    <div class="panel-body instance-query"></div>
</div>