<div class="input-group">
    <span class="input-group-addon">Image URL:</span>
    <input type="text" class="form-control" placeholder="Image URL" id="image-url-input" />
    <span class="input-group-addon" id="copy-image-url-button"
          data-toggle="tooltip" data-placement="button"
          title="Copy to Clipboard"
          data-clipboard-target="#image-url-input"
          role="button">
        <img width="14" src="~/Content/img/clippy.svg" />
    </span>
    <span class="input-group-addon glyphicon glyphicon-save" id="dlownload-image-url-button"
          data-toggle="tooltip" data-placement="button" title="Download" role="button">
    </span>
</div>
