body {
    padding-top: 80px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

ul
{
    list-style-type:none;
    /*padding:0px;
    margin:0px;*/
}

li
{
    background-repeat:no-repeat;
    background-position:0px 5px; 
    padding-left:14px;
}

.tab-content {
padding-top:30px;
}

.study-view , .series-view, .instance-view{
border:0;
}

.study-view [class^="col-"], .series-view [class^="col-"], .instance-view [class^="col-"] {
      padding-left: 5px;
      padding-right: 5px;
}

.dicomWeb-js .thumbnail {
   cursor: pointer;
   font-size: 12px;
   height: 150px;
   padding: 10px;
   margin-bottom: 0px;
   /*margin-right:5px;*/
}

   .dicomWeb-js .thumbnail:hover, .dicomWeb-js .selected {
      background-color: #E1DBF3;
   }

.dicomWeb-js .panel-footer {
   padding: 0;
}

.dicomWeb-js .thumbnail hr {
   margin-top: 5px;
   margin-bottom: 10px;
}

.pacs-metadata-viewer{
   height:450px;
}

#dwv > .layerContainer {
margin:auto;
} 