<div class="modal" id="modal-alert"
     tabindex="-1" role="dialog"
     aria-labelledby="modal-sample-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-sample-label"></h4>
            </div>
            <div class="model-body" >
                <p class="model-body-content" style="height:300px"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info"
                        data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
