<div class="col-sm-4 thumbnail tile tile-medium tile-teal">
    <div class="panel-body">
        <div class="xcol-md-3">
            <strong><span>Instance Number:</span></strong>
            <strong><span data-pacs-InstanceNum="true"></span></strong>
        </div>
        <div class="xcol-md-3">
            <span>SOP Instance UI:</span>
            <span data-pacs-SopInstanceUid="true"></span>
        </div>
    </div>
    <div class="xtile-toolbar panel-footer">
            <a href="#" role="button" data-pacs-viewQidoInstance class="btn btn-default btn-sm">Qido Instance {..}</a>
    </div>
</div>