<div class="col-sm-4">
    <div class="thumbnail tile tile-medium tile-teal panel-body">
        <div class="xcol-md-3">
            <strong><span>Instance Number:</span></strong>
            <strong><span data-pacs-InstanceNum="true"></span></strong>
        </div>
        <div class="xcol-md-3">
            <span>SOP Instance UI:</span>
            <span data-pacs-SopInstanceUid="true"></span>
        </div>
    </div>

    <div class="xtile-toolbar panel-footer">
        <div class="btn-group btn-group-justified" role="group">
            <a href="#" role="button" data-pacs-metadata="true" class="btn btn-default btn-sm">Json</a>
            <a href="#" role="button" data-pacs-dicom class="btn btn-default btn-sm">DICOM </a>
        </div>
    </div>


</div>