@using Demo.Models


@foreach(var toolbarGroup in ToolbarFactory.DefaultInstanceDetails)
{
    <div class="input-group">
        <span class="input-group-addon">@toolbarGroup.Name</span>
        @foreach (var toolbarItem in toolbarGroup.OfType<ToolbarInput>())
        {
            @toolbarItem.Render()
        }

        @foreach (var toolbarItem in toolbarGroup.OfType<ToolbarLink>())
        {
            @toolbarItem.Render()
        }

    </div>
}
