
    <form>
        <div class="form-group">
            <label for="patientIdInput">Patient ID</label>
            <input type="text" class="form-control  color-fill-dim-mid-alt" id="patientIdInput" placeholder="(e.g. 123-45-6789)">
        </div>
        <div class="form-group">
            <label for="patientNameInput">Patient Name</label>
            <input type="text" class="form-control" id="patientNameInput" placeholder="(e.g. John)">
        </div>
        <div class="form-group">
            <label for="studyDateInput">Study Date</label>
            <input type="datetime" class="form-control" id="studyDateInput" placeholder="(e.g. 20120502)">
        </div>
        <div class="form-group">
            <label for="studyIdInput">Study ID</label>
            <input type="text" class="form-control" id="studyIdInput" placeholder="(e.g. 1)">
        </div>

        <button type="submit" id="searchButton" class="btn btn-default">Search</button>
    </form>

