
    <form>
        <div class="form-group">
            <label for="patientIdInput">Patient ID</label>
            <input type="text" class="form-control  color-fill-dim-mid-alt" id="patientIdInput" placeholder="Patient ID">
        </div>
        <div class="form-group">
            <label for="patientNameInput">Patient Name</label>
            <input type="text" class="form-control" id="patientNameInput" placeholder="Patient Name">
        </div>
        <div class="form-group">
            <label for="studyDateInput">Study Date</label>
            <input type="datetime" class="form-control" id="studyDateInput" placeholder="Study Date">
        </div>
        <div class="form-group">
            <label for="studyIdInput">Study ID</label>
            <input type="text" class="form-control" id="studyIdInput" placeholder="Study ID">
        </div>

        <button type="submit" id="searchButton" class="btn btn-default">Search</button>
    </form>

