<div class="col-sm-4 thumbnail tile tile-medium tile-teal">
    <div class="panel-body">
        <div class="xcol-md-3">
            <strong><span>Series #:</span></strong>
            <strong><span data-pacs-seriesNum="true"></span></strong>
        </div>
        <div class="xcol-md-2">
            <span>Modality:</span>
            <span data-pacs-modality="true"></span>
        </div>
        <div class="xcol-md-2">
            <span>Series Date:</span>
            <span data-pacs-seriesDate="true"></span>
        </div>
        <div class="xcol-md-3">
            <span>Series Description:</span>
            <span data-pacs-seriesDesc="true"></span>
        </div>
    </div>

    <div class="xtile-toolbar panel-footer">
        <div class="btn-group btn-group-justified" role="group">
            <a href="#" role="button" data-pacs-viewQidoSeries class="btn btn-default btn-sm">Qido Series {..}</a>
            <a href="#" role="button" data-pacs-seriesJson="true" class="btn btn-default btn-sm">RS-Series {..}</a>
        </div>
    </div>
</div>

    