<div class="col-xs-6 col-sm-4 col-md-3 thumbnail">
    <div class="panel-body">
        <div class="xcol-md-3">
            <strong><span>Series #:</span></strong>
            <strong><span data-pacs-seriesNum="true"></span></strong>
        </div>
        <hr />
        <div class="xcol-md-2">
            <span>Modality:</span>
            <span data-pacs-modality="true"></span>
        </div>
        <div class="xcol-md-2">
            <span>Series Date:</span>
            <span data-pacs-seriesDate="true"></span>
        </div>
        <div class="xcol-md-3">
            <span>Series Description:</span>
            <span data-pacs-seriesDesc="true"></span>
        </div>
    </div>

    <div class="panel-footer">
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group dropup" ">
                <a href="#" data-pacs-viewQidoSeries role="button" class="btn btn-default btn-sm" Xdata-toggle="dropdown" Xaria-haspopup="true" Xaria-expanded="false">
                    QIDO-RS {..}
                    @*<span class="caret"></span>*@
                </a>
                @*<ul class="dropdown-menu">
                    <li><a href="#" data-pacs-viewQidoSeries>JSON</a></li>
                    <li><a href="#">DIOCM+XML</a></li>
                </ul>*@
            </div>
            <div class="btn-group dropup" ">
                <a href="#" role="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">RS-Series 
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#" data-pacs-series-json>JSON</a></li>
                    <li><a href="#" data-pacs-series-xml>DIOCM+XML</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

